[submodule "slow-control_hub"]
	path = slow-control_hub
	url = git@github.com:yifeng-ethz/slow-control_hub.git
	branch = master
	ignore = untracked
[submodule "CAM"]
	path = CAM
	url = git@github.com:yifeng-ethz/CAM.git
	branch = master
	ignore = untracked
[submodule "mutrig_timestamp_processor"]
	path = mutrig_timestamp_processor
	url = git@github.com:yifeng-ethz/mutrig_timestamp_processor.git
	branch = master
	ignore = untracked
[submodule "mutrig_frame_deassembly"]
	path = mutrig_frame_deassembly
	url = git@github.com:yifeng-ethz/mutrig_frame_deassembly.git
	branch = master
	ignore = untracked
[submodule "histogram_statistics"]
	path = histogram_statistics
	url = git@github.com:yifeng-ethz/histogram_statistics.git
	branch = master
	ignore = untracked
[submodule "mutrig_controller"]
	path = mutrig_controller
	url = git@github.com:yifeng-ethz/mutrig_controller.git
	branch = master
	ignore = untracked
[submodule "charge_injection"]
	path = charge_injection
	url = git@github.com:yifeng-ethz/charge_injection.git
	branch = master
	ignore = untracked
[submodule "alt_temp_sense_controller"]
	path = alt_temp_sense_controller
	url = git@github.com:yifeng-ethz/alt_temp_sense_controller.git
	branch = master
	ignore = untracked
[submodule "high_performance_counter_array"]
	path = high_performance_counter_array
	url = git@github.com:yifeng-ethz/high_performance_counter_array.git
	branch = master
	ignore = untracked
[submodule "mutrig_channel_counter_fabric"]
	path = mutrig_channel_counter_fabric
	url = git@github.com:yifeng-ethz/mutrig_channel_counter_fabric.git
	branch = master
	ignore = untracked
[submodule "firefly_xcvr_i2c_master"]
	path = firefly_xcvr_i2c_master
	url = git@github.com:yifeng-ethz/firefly_xcvr_i2c_master.git
	branch = master
	ignore = untracked
[submodule "ip_8b10b_decoder"]
	path = ip_8b10b_decoder
	url = git@github.com:yifeng-ethz/ip_8b10b_decoder.git
	branch = master
	ignore = untracked
[submodule "lvds_error_counter_fabric"]
	path = lvds_error_counter_fabric
	url = git@github.com:yifeng-ethz/lvds_error_counter_fabric.git
	branch = master
	ignore = untracked
[submodule "mutrig_reset_controller"]
	path = mutrig_reset_controller
	url = git@github.com:yifeng-ethz/mutrig_reset_controller.git
	branch = master
	ignore = untracked
[submodule "ring-buffer_cam"]
	path = ring-buffer_cam
	url = git@github.com:yifeng-ethz/ring-buffer_cam.git
	branch = master
	ignore = untracked
[submodule "mu3e_lvds_controller"]
	path = mu3e_lvds_controller
	url = git@github.com:yifeng-ethz/mu3e_lvds_controller.git
	branch = master
	ignore = untracked
[submodule "run-control_mgmt"]
	path = run-control_mgmt
	url = git@github.com:yifeng-ethz/run-control_mgmt.git
	branch = master
	ignore = untracked
[submodule "onewire_temp_sense"]
	path = onewire_temp_sense
	url = https://github.com/yifeng-ethz/onewire_temp_sense.git
	branch = master
	ignore = untracked
[submodule "feb_frame_assembly"]
	path = feb_frame_assembly
	url = https://github.com/yifeng-ethz/feb_frame_assembly.git
	branch = master
	ignore = untracked
[submodule "mupix_inbound"]
	path = mupix_inbound
	url = https://github.com/yifeng-ethz/mupix_inbound.git
	branch = master
	ignore = untracked
[submodule "packet_scheduler"]
	path = packet_scheduler
	url = https://github.com/yifeng-ethz/packet_scheduler.git
	branch = master
	ignore = untracked
[submodule "board_test_system"]
	path = board_test_system
	url = https://github.com/yifeng-ethz/board_test_system.git
	branch = master
	ignore = untracked
[submodule "feb_max10_comm"]
	path = feb_max10_comm
	url = git@github.com:yifeng-ethz/feb_max10_comm.git
	branch = main
	ignore = untracked
[submodule "emulator_mutrig"]
	path = emulator_mutrig
	url = git@github.com:yifeng-ethz/emulator_mutrig.git
	branch = main
	ignore = untracked
[submodule "rdma_cq_pusher"]
	path = rdma_cq_pusher
	url = https://github.com/yifeng-ethz/rdma_cq_pusher.git
	branch = main
	ignore = untracked
[submodule "rdma_dma_engine"]
	path = rdma_dma_engine
	url = https://github.com/yifeng-ethz/rdma_dma_engine.git
	branch = main
	ignore = untracked
[submodule "rdma_run_manager"]
	path = rdma_run_manager
	url = https://github.com/yifeng-ethz/rdma_run_manager.git
	branch = main
	ignore = untracked
[submodule "rdma_rq_fetcher"]
	path = rdma_rq_fetcher
	url = https://github.com/yifeng-ethz/rdma_rq_fetcher.git
	branch = main
	ignore = untracked
[submodule "rdma_subsystem"]
	path = rdma_subsystem
	url = https://github.com/yifeng-ethz/rdma_subsystem.git
	branch = main
	ignore = untracked
