*.log
*.smsg
*.cmp
*.pyc
transcript
__pycache__/
qverify_*/
db/
incremental_db/
output_files/
generated/tmp/
**/db/
**/incremental_db/
**/output_files/
**/generated/tmp/
**/*.log
**/*.smsg
**/*.cmp
**/__pycache__/
